{% extends 'core/base.html' %}
{% load static %}

{% block head_title %}Online Banking{% endblock %}

{% block content %}
<div class="container mx-auto flex flex-col md:flex-row items-center my-12 md:my-24">
    <!--Left Col-->
    <div class="flex flex-col w-full lg:w-1/2 justify-center items-start pt-12 pb-24 px-6">
        <h1 class="font-bold text-4xl lg:text-5xl my-4 leading-tight">JK Online Banking</h1>
        <p class="leading-normal mb-4 text-gray-600">
            JKB online banking platform that allows you to transact in a matter of seconds. Join the fastest and most secure online banking system.
            <a href="#" class="text-blue-500 hover:underline">JK Inc.</a>.
        </p>
        <div class="mt-6">
            <a href="{% url 'accounts:user_registration' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-semibold rounded shadow hover:shadow-lg py-2 px-4 mr-4">
                Register
            </a>
            <a href="#" class="bg-gray-800 hover:bg-gray-900 text-white font-semibold rounded shadow hover:shadow-lg py-2 px-4">
                Contact Us
            </a>
        </div>
    </div>
    <!--Right Col-->
    <div class="w-full lg:w-1/2 lg:py-6 text-center">
        <div class="relative">
            <h1 style="font-size: 12rem" class="font-black text-gray-800 absolute top-0 left-0 transform -translate-x-1/2 -translate-y-1/2 opacity-10 z-0">$$$</h1>
            <img src="https://t3.ftcdn.net/jpg/03/34/66/70/360_F_334667018_ujp9qSr0YFCM5GJh7DIQdCpwObrqkbCU.jpg" alt="Online Banking" class="mx-auto rounded-lg shadow-lg z-10 relative">
        </div>
    </div>
</div>
{% endblock %}
